<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js" type="text/javascript"></script>
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.9.0/jquery-ui.min.js" type="text/javascript"></script>
<script src="./js/jquery.tablesorter.min.js" type="text/javascript"></script>
<script src="./js/jquery.metadata.js" type="text/javascript"></script>
<script src="./js/isodate.js" type="text/javascript"></script>
<script src="./js/jquery.color.js" type="text/javascript"></script>
<script src="./js/jquery.color.svg-names.js" type="text/javascript"></script>
<script src="https://raw.github.com/gist/2484402/9e046d538ed42b87e5a5396e166c91083526958c/gistfile1.js" type="text/javascript"></script>
<script src="./js/4d1.js?<?=rand() ?>" type="text/javascript"></script>
<script src="./js/4d1.request.js?<?=rand() ?>" type="text/javascript"></script>