/*
Design by Metamorphosis Design
http://www.metamorphozis.com
Released for free under a Creative Commons Attribution 2.5 License
*/

*{
    margin: 0px;
    padding: 0px;
}

img{
    padding: 0px;
    border: none;
}

a{
    color: #ffffff;
    font-weight: 400;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    color: #000000;
}

body {	
    font-family: "Coda", Verdana, Tahoma, sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: #e9e9e9;
    background: #202020 url(images/bg.jpg);
}

/*logo*/

#logo{
	width: 1024px;
	margin: 0 auto;
	padding: 20px 0px 20px 0px;
}

h1 a{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #ffffff;
	font-weight: normal;
}

h2{
	font-family: "Coda", "Segoe UI", Verdana, Tahoma, helvetica;
	font-size: 32px;
	color: #ffffff;
	font-weight: normal;
	/*font-style: italic;    GOD SHAME ON THE AUTHOR WHO PUT IN THAT SHIT */
	line-height: 36px;
	padding-top: 20px;
}

h3{
	/*font-family: Arial, Helvetica, sans-serif;*/
	font-family: "Play", "OCR A Extended", Tahoma, Helvetica, sans;
	font-size: 54px;
	color: #ffffff;
	font-weight: normal;
	/*font-style: italic;     EWWWWW who did THAT*/
	line-height: 68px;
	/*padding: 15px 0px 0px 20px;*/
	margin-bottom: 8px;
	/*text-shadow: 1px 1px 1px rgba(255,255,255,0.2);*/
}

a small{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #ffffff;
	font-weight: normal;
}

/*menu*/
#menu_bg{
	background: url(images/menu_bg.png) repeat-x top;
	height: 59px;
	margin-bottom: 0px;
}

#menu{
	/*width: 1014px;*/
	width: 100%;
	margin: 0 auto;
}

#menu ul {
    padding-left: 0px;
    list-style: none;
    float:right;
    padding-right: 0px;
}

#menu li {
    display: inline;
}

#menu ul li a{
    font-family: "Electrolize";
    font-size: 16px;
    color: #ffffff;
    text-align: center;
    font-weight: normal;
    text-decoration: none;
    display: block;
    float: left;
    /*width: 150px;*/
    height: 57px;
    padding-top: 22px;
    padding-left: 10px;
    padding-right: 10px;
}

#menu ul li a:hover, #menu ul li .active{
    color: #ffffff;
    background: url(images/hover.jpg) repeat-x top;
}

/*header*/

#header_repeat_bg{
	background: url(images/header_bg_repeat.png) repeat-x top;
	/*height: 335px;*/
	height: 175px;
	margin-bottom: 20px;
}

#header_bg{
	background: url(images/header_bg.jpg) no-repeat center;
	/*height: 335px;*/
	height: 175px;
}

#header{
	text-align: center;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
	padding-top: 20px;
	/*width: 1024px;*/
	width: 90%;
	margin: 0 auto;
}

.header_left{
	float: left;
	width: 440px;
	height: 320px;
}

#header_text{
	line-height: 26px;
	font-size: 20px;
	padding-bottom: 10px;
}

.learn{
	width: 172px;
	height: 41px;
	background: url(images/header_button.png) no-repeat top left;
	float: right;
	text-align: center;
	padding-top: 18px;
}

.learn a{
	font-weight: normal;
	font-size: 18px;
	color: #ffffff;
	display: block;
	text-transform: uppercase;
	font-style: italic;
}

.header_right{
	float: right;
	height: 320px;
}

#button_box{
	float: right;
	padding: 0px 10px 0px 0px;
}

#button_box a{
	background: url(images/round_button1.jpg) no-repeat top left;
	width: 12px;
	height: 12px;
	float: left;
	display: block;
	padding: 0px 5px 0px 0px;
}

#button_box a:hover, #button_box .active{
	background: url(images/round_button.jpg) no-repeat top left;
}

/*content*/
#content{
	width: 92%;
	margin: 0 auto;
	text-align:center;
	padding-left: 18px;
}

.more{
	width: 74px;
	height: 25px;
	background: url(images/send.png) no-repeat top left;
	float: right;
	text-align: center;
	padding-top: 0px;
	margin-top: 5px;
}

.more a{
	font-weight: normal;
	color: #ffffff;
	display: block;
}

.grey_border{
	border-bottom: 1px solid #7b7b7b;
	margin-bottom: 20px;
	height: 10px;
	clear: both;
}

.column3_box{
	padding: 0px 0px 20px 0px;
}

.column3_box p a{
	color: #a4a3a3;
}

.column1{
	width: 320px;
	float: left;
	padding: 0px 20px 0px 0px;
}

.column2{
	width: 320px;
	float: left;
	padding: 0px 20px 0px 0px;
}

.column3{
	width: 320px;
	float: left;
}


/*footer*/

#footer_repeat_bg{
	background: url(images/footer_repeat_bg.jpg) repeat-x top;
	height: 345px;
}

#footer_bg{
	background: url(images/footer.jpg) no-repeat center;
	height: 345px;	
}

#footer_width{
	width: 1024px;
	margin: 0 auto;
}

#footer_bot{
	padding-top: 20px;
	border-top: 1px solid #7b7b7b;
	margin-top: 20px;
}

#footer_bot_left{
	float: left;
}

#footer_bot_left p, #footer_bot_left p a{
	color: #ffffff;
	font-weight: normal;
	font-size: 10px;
}

#footer_icon{
	float: right;
}

#footer_icon a{
	margin-left: 10px;
}

.clear{
	clear: both;
}

#footer_top{
	padding: 30px 0px 0px 0px;
}

#footer_top p{
	color: #000000;
}

#footer_top a{
	color: #212121;
	font-weight: bold;
}

#footer_left{
	width: 310px;
	float: left;
	padding: 0px 35px 0px 0px;
}

#footer_middle{
	width: 310px;
	float: left;
	padding: 0px 35px 0px 0px;
}

#footer_right{
	width: 320px;
	float: left;
}

.ul_hover_bg{
	padding: 0px 0px 0px 0px;
}

.ul_hover_bg li{
	list-style: none;
	padding: 0px 0px 0px 0px;
	height: 27px;
}

#footer_middle .ul_hover_bg li a, #contact_right .ul_hover_bg li a{
	height: 23px;
	color: #232323;
	display: block;
	padding: 5px 0px 0px 30px;
	background: url(images/ls.png) no-repeat left center;
}

#footer_middle .ul_hover_bg li a:hover{
	height: 27px;
	color: #a4a3a3;
	background: url(images/ul_hover.jpg) no-repeat top left;
	display: block;
}

#footer_right fieldset {
    border: none;
}

#footer_right input {
    margin-bottom: 5px;
}

#footer_right label{
	color: #000000;
	margin: 5px 0px 0px 0px;
	display: block;
	float: left;
} 

#login-submit, #contact-submit{
    width: 74px;
    height: 27px;
    background: url(images/send.png) no-repeat left top;
    border: none;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 14px;
    font-weight: normal;
    color: #ffffff;
	padding-bottom: 5px;
}

#text1, #text2{
    width: 239px;
    height: 21px;
    padding-top: 0px;
    padding-left: 10px;
    padding-right: 10px;
    border: none;
    background: url(images/footer_input.jpg);
    background-repeat:no-repeat;
    background-position:left top;
    color: #000000;
    font-size: 12px;
    padding-bottom: 5px;
	float: right;
}

#text_mess {
    width: 300px;
    height: 62px;
    padding-top: 4px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    border: none;
    background: url(images/footer_mess.jpg);
    background-repeat:no-repeat;
    background-position:left top;
    color: #000000;
    font-size: 12px;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

/*gallery*/

#gallery{
	width: 1024px;
	margin: 0 auto;
	padding-bottom: 20px;
}

.row {
    padding-left: 0px;
	padding-bottom: 5px;
    height: 290px;
    width: 1024px;
}

.box_img2 {
    width:  298px;
    height: 275px;
    background: url(images/gal_box_bg.jpg) 0px 0px no-repeat;
    padding: 15px 15px 0px 15px;
    float:left;
}

.box_img2 h2{
    padding-top: 0px;
}

.box_img2 a img{
	padding-bottom: 8px;
}

.box_img2 p{
	color: #000000;
}

.box_razd {
    width: 14px;
    height: 50px;
    float: left;
}

/*contact*/

#contact{
	width: 1024px;
	margin: 0 auto;
}

#contact p{
	color: #d9d4d4;
}

#contact p a{
	color: #a4a3a3;
}

#contact_left{
	width: 657px;
	float: left;
	padding-right: 40px;
}

#contact_right{
	float: left;
	width: 320px;
}

.location{
	padding-bottom: 10px;
}

#contact_form fieldset {
    border: none;
}

#contact_form input {
    margin-bottom: 5px;
}

#contact-submit{
    width: 74px;
    height: 27px;
    background: url(images/send.png) no-repeat left top;
    border: none;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 14px;
    font-weight: normal;
    color: #ffffff;
	padding-bottom: 5px;
}

#contact-clear{
    width: 74px;
    height: 27px;
    background: url(images/send.png) no-repeat left top;
    border: none;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 14px;
    font-weight: normal;
    color: #ffffff;
	padding-bottom: 5px;
	margin-left: 40px;
}

#con_name, #con_email, #con_website {
    width: 637px;
    height: 29px;
    padding-top: 0px;
    padding-left: 10px;
    padding-right: 10px;
    border: none;
    background: url(images/input_contact.jpg);
    background-repeat:no-repeat;
    background-position:left top;
    color: #ffffff;
}

#con_mess {
    width: 637px;
    height: 115px;
    padding-top: 4px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 15px;
    border: none;
	font-family: Arial, Helvetica, sans-serif;
    background: url(images/textarea_contact.jpg);
    background-repeat:no-repeat;
    background-position:left top;
    color: #ffffff;
    margin-bottom: 10px;
}

.read2{
	padding: 10px 0px 20px 0px;
	text-align: right;
}

.read2 a{
	color: #940000;
	text-decoration: underline;
}

.pad_left{
	padding-left: 40px;
	padding-bottom: 5px;
}

.date_news{
	text-decoration: underline;
}

/*Blog*/
.post{
	padding-bottom: 10px;	
}

.news_top{
    clear: both;
	padding: 10px 0px 10px 0px;	
}

.news_top_left{
    background: url(images/date_bg.jpg) no-repeat right;
    width: 86px;
    height: 80px;
    float: left;
    text-align: center;
}

#contact_left .news_top_left .date_day{
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 36px;
    font-weight: normal;
    padding-top: 15px;
}

#contact_left .news_top_left .date_month{
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: normal;
    padding-top: 10px;
}

.news_top_right{
    float: left;
    padding-left: 10px;
    width: 560px;
    padding-bottom: 15px;
}

.title_post_left{
	float: left;
	background: url(images/user_icon.jpg) no-repeat 0px 0px;
	padding: 0px 0px 0px 25px;
}

.title_post_right{
	float: right;
	background: url(images/comments_icon.jpg) no-repeat 0px 0px;
	padding: 0px 0px 0px 25px;
}

.layer_border{
	border-bottom: 1px solid #7b7b7b;
	border-top: 1px solid #7b7b7b;
	padding: 5px 0px 5px 0px;
}

#contact_right .ul_hover_bg{
	padding: 0px 0px 30px 0px;
}

#contact_right .ul_hover_bg li a{
	width: 318px;
	color: #a4a3a3;
}

#contact_right .ul_hover_bg li a:hover{
	height: 27px;
	color: #a4a3a3;
	background: url(images/ul_hover_blog.jpg) no-repeat top left;
	display: block;
}

/*calendar*/

#calendar table {
    width: 200px;
    text-align: center;
    color: #000000;
}

#calendar tbody td {
    border: 1px solid #F1F1F1;
    width: 34px;
	color: #a4a3a3;
}

#calendar caption, #calendar thead th{
	color: #a4a3a3;
	font-weight: normal;
}

#calendar #prev {
    text-align: left;
}

#calendar #next {
    text-align: right;
}

#calendar a {
    text-decoration: none;
    font-weight: normal;
    color: #a4a3a3;
}

#calendar #now {
    background: #ffffff;
    border: 1px solid #e60000;
    font-weight: bold;
    color: #740202;
}



/*
scroll styles here
*/

.item { width: 1025px; height: 315px;}
.item img {float:left;}
.item h2 { border:none; margin-bottom:15px;}

.scrollable { position:relative; overflow:hidden; width: 1025px; height: 315px;} 
.scrollable .items { width:20000em; position:absolute;}
.scrollable .items div { float:left;} 
.scrollable .items .item { overflow:hidden;}
.scrollable .items .item p { line-height:16px;}
.navi { width:auto; height:20px; float:right; margin:5px 0; padding-right: 20px;} 
.navi a { width: 13px; cursor:pointer; height: 14px; float:left; margin:0 0 0 3px; background:url(images/round_button.gif) no-repeat scroll right top; display:block; font-size:1px;} 
.navi a:hover, .navi a.active { background-position:left top; margin:0 0 0 3px;  background:url(images/round_button1.gif) no-repeat scroll right top}


/* SERVER LIST PAGE STUFF */
.status-led, .status-text {
	vertical-align: middle;
}
table {
	border-radius: 5px;
	border: transparent 0px;
}
tr {
	margin: 0px;
}
td {
	font-family: "Play", "Segoe UI";
	font-size: 12px;
	margin: 0px;
	padding-left: 10px;
}
thead {
	font-weight: normal;
	font-family: "Electrolize", "Segoe UI";
}
div.blackgradient {
  left: 0; top: 0; width:100%; height: 55px; position: relative; padding-top: 25px; text-align: right;
}
td.blackgradient {
background: rgb(25,57,97); /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzE5Mzk2MSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iIzExNGQ4MSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUxJSIgc3RvcC1jb2xvcj0iIzBkNDY3NyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMxNzZlYjEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  rgba(25,57,97,1) 0%, rgba(17,77,129,1) 50%, rgba(13,70,119,1) 51%, rgba(23,110,177,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(25,57,97,1)), color-stop(50%,rgba(17,77,129,1)), color-stop(51%,rgba(13,70,119,1)), color-stop(100%,rgba(23,110,177,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(25,57,97,1) 0%,rgba(17,77,129,1) 50%,rgba(13,70,119,1) 51%,rgba(23,110,177,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(25,57,97,1) 0%,rgba(17,77,129,1) 50%,rgba(13,70,119,1) 51%,rgba(23,110,177,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(25,57,97,1) 0%,rgba(17,77,129,1) 50%,rgba(13,70,119,1) 51%,rgba(23,110,177,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(25,57,97,1) 0%,rgba(17,77,129,1) 50%,rgba(13,70,119,1) 51%,rgba(23,110,177,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#193961', endColorstr='#176eb1',GradientType=0 ); /* IE6-8 */
}
.blackgradient {
background: -moz-linear-gradient(left, rgba(0,0,0,0) 23%, rgba(0,0,0,0) 59%, rgba(0,0,0,0.65) 87%, rgba(0,0,0,0.65) 90%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(23%,rgba(0,0,0,0)), color-stop(59%,rgba(0,0,0,0)), color-stop(87%,rgba(0,0,0,0.65)), color-stop(90%,rgba(0,0,0,0.65))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left, rgba(0,0,0,0) 23%,rgba(0,0,0,0) 59%,rgba(0,0,0,0.65) 87%,rgba(0,0,0,0.65) 90%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left, rgba(0,0,0,0) 23%,rgba(0,0,0,0) 59%,rgba(0,0,0,0.65) 87%,rgba(0,0,0,0.65) 90%); /* Opera 11.10+ */
background: -ms-linear-gradient(left, rgba(0,0,0,0) 23%,rgba(0,0,0,0) 59%,rgba(0,0,0,0.65) 87%,rgba(0,0,0,0.65) 90%); /* IE10+ */
background: linear-gradient(to right, rgba(0,0,0,0) 23%,rgba(0,0,0,0) 59%,rgba(0,0,0,0.65) 87%,rgba(0,0,0,0.65) 90%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=1 ); /* IE6-9 */
}


/* ------------------------------------------------------------------------
DO NOT CHANGE
------------------------------------------------------------------------- */


div.pp_overlay {background: #000;display: none;left: 0;position: absolute;top: 0;width: 100%;z-index: 9500;}
div.pp_pic_holder {display: none;position: absolute;width: 100px;z-index: 10000;}

